.about{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-four);
    color: var(--text-primary);
}

.about-wrapper{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 100px 0px;
}

.about-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px
}

.about-right{
    flex: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-img{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}

.about-connect-container{
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.about-scroll{
    font-size: 37px;
    cursor: pointer;
    transition: all 0.5s ease;
    color: var(--main-color);
    margin-right: 20px;
}

.about-scroll:hover{
    transform: scale(1.08);
}

.about-resume{
    display: flex;
    align-items: center;
    background-color: rgb(83, 146, 105);
    color: white;
    width: 90px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
}

.about-resume:hover{
    transform: scale(1.03);
}

.about-resume-i{
    margin-right: 10px;
    font-size: 14px;
}

@media screen and (max-width: 990px){
    .about{
        height: 100%;
    }

    .about-wrapper{
        flex-direction: column;
        margin: 50px;
    }

    .about-left{
        padding: 0px;
        margin: 20px 0px;
    }

    .about-img{
        width: 170px;
        height: 170px;
    }

    .about-scroll{
        display: none;
    }
}