.top{
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 9999999;
    display: flex;
    align-items: center;
    background-color: var(--background-secondary);
    opacity: 95%;
    color: var(--text-primary);
}

.top-l{
    display: flex;
    align-items: center;
    justify-content: left;
    flex: 1;
}

.top-l-hide{
    display: none;
}

.top-r{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
}

.top-l-list, .top-r-list{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-l-list-item, .top-r-list-item{
    font-size: 16px;
    cursor: pointer;
    font-weight: 300;
}

.top-l-list-item{
    margin-left: 20px;
}

.top-r-list-item, .top-r-list-theme-wrapper{
    margin-right: 20px;
    border-radius: 10px;
    padding: 3px 10px;
}

.top-r-list-item:hover{
    background-color: var(--hover);
    color: white;
}

.top-l-list-link, .top-r-list-link{
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .top-r-list-link:nth-child(3){
        display: none;
    }
}

@media screen and (max-width: 995px){
    .top{
        opacity: 100%;
    }
    
    .top-l-hide{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .top-r{
        display: none;
    }
}

@media screen and (max-width: 800px){
    .top-l-hide{
        display: none;
    }
}

@media screen and (max-width: 430px){
    
    .top{
        display: none;
    }
}