.contact{
    height: 100%;
    position: relative;
    background-color: var(--background-third);
    color: white;
    display: flex;
}

.contact-bg{
    width: 20px;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
}

.contact-wrapper{
    padding:50px;
    display: flex;
}

.contact-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-title{
    font-size: 60px;
    width: 80%;
}

.contact-social-wrapper{
    display: flex;
    width: 80px;
    justify-content: space-between;
    align-items: center;
}

.contact-social-i{
    font-size: 40px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.contact-social-i:hover{
    transform: scale(1.08);
}

.contact-info{
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
    font-weight: 300;
    width: 70%;
}

.contact-info-item{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.contact-icon{
    font-size: 25px;
    margin-right: 15px;
    color: var(--main-color);
}

.contact-desc{
    font-weight: 200;
    margin-top: 30px;
}

.contact-form{
    width: 100%;
}

.contact-form-input{
    width: 50%;
    height: 50px;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    outline: none;
    background-color: var(--input);
    color: var(--text-primary);
    border-radius: 10px;
    border: none;
}

.contact-form-input::placeholder{
    color: var(--text-secondary);
}

.contact-form-textarea{
    width: 90%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 10px;
    outline:none;
    border: none;
    background-color: var(--input);
    color: var(--text-primary);
}

.contact-form-textarea::placeholder{
    color: var(--text-secondary);
}

.contact-form-btn{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    padding: 10px 8px;
    background-color: var(--main-color);
    border: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    border-radius: 10px;
    margin-top: 15px;
    transition: all 0.5s ease;
}

.contact-form-btn:hover{
    padding: 10px 14px;
}

.contact-form-i{
    margin-left: 15px;
}

.contact-form-hide{
    display:none;
}

.confirmation{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(104, 170, 114);
    color: white;
    font-size: 14px;
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    margin-top: 10px;
}