.intro {
    display: flex;
    height: 100vh;
    background-color: var(--background-secondary);
}

.intro-l{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-r{
    flex: 1.5;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-l-wrapper{
    display: flex;
    flex-direction: column;
    height: 50%;
    padding: 50px;
    color: var(--text-primary);
}

.intro-text{
    font-size: 30px;
    font-weight: 300;
}

.intro-name{
    font-size: 60px;
}

.intro-desc{
    width: 70%;
    margin-top: 15px;
    color: var(--text-secondary);
}

.intro-scroll{
    position: absolute;
    font-size: 30px;
    bottom: 20px;
    cursor: pointer;
    animation: bounce 3s 1 linear 2s;
    transition: all 0.5s ease;
}

@keyframes bounce {
    20%, 50%, 80%, to{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-15px);
    }
    70%{
        transform: translateY(-10px);
    }
    90%{
        transform: translateY(-4px);
    }
}

.intro-scroll:hover{
    transform: scale(1.08);
}

.intro-img{
    object-fit:cover;
    height: 100%;
    width: 100%;
}

.intro-social-wrapper{
    margin-top: 25px;
    gap: 15px;
    display: flex;
    color: var(--text-secondary);
    align-items: center;
}

.intro-social-i{
    font-size: 30px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.intro-social-i:hover{
    transform: scale(1.08);
}

.intro-connectBtn{
    background-color: var(--background-secondary);
    color: var(--text-primary);
    border: 1px solid var(--text-primary);
    border-radius: 10px;
    padding: 10px;
    width: max-content;
    cursor: pointer;
    transition: 0.5s ease;
    margin-left: 20px;
}

.intro-connectBtn:hover {
    color: var(--background-secondary);
    box-shadow: inset 150px 0px 0px 0px var(--main-color);
    border: 1px solid var(--main-color);
}

@media screen and (max-width: 1360px){
    .intro-l{
        flex: 1;
    }
    
    .intro-r{
        flex: 1;
    }
    .intro-l-wrapper{
        height: 60%;
    }
    
    .intro-text{
        font-size: 20px;
    }
    
    .intro-name{
        font-size: 50px;
    }
}

@media screen and (max-width: 1024px){
    .intro-img{
        object-fit:cover;
        width: 100%;
    }
}

@media screen and (max-width: 995px){
    .intro {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .intro-l{
        height: 50%;
    }
    .intro-l-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        height: 100%;
    }

    .intro-desc{
        width: 100%;
    }
    
    .intro-r{
        height: 50%;
    }

    .intro-scroll-wrapper{
        display: none;
    }

    .intro-img{
        object-fit:cover;
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 800px){

    .intro-l{
        height: 60%;
    }
    .intro-r{
        height: 40%;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 430px){

    .intro-l{
        height: 70%;
    }
    .intro-r{
        height: 30%;
    }
    .intro-text{
        font-size: 15px;
    }
    
    .intro-name{
        font-size: 30px;
    }
}