.singleProject{
    display: flex;
    background-color: var(--background-secondary);
    color: var(--text-primary);
}

.singleProjectWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;
}

.singleProject-cat{
    color: var(--main-color);
}

.singleProjectTitle{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}

.singleProject-iframe{
    height: 350px;
    width: 620px;
    border: none;
}

.singleProject-img-container{
    height: 350px;
    width: 60%;
    overflow: hidden;
}

.singleProject-img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.singleProject-overview-container{
    display: flex;
    margin-top: 20px;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.singleProject-overview-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
}

.singleProject-subTitle{
    color: var(--text-primary);
    font-size: 24px;
    font-weight: 800;
}

.singleProject-desc{
    color: var(--text-secondary);
    font-size: 14px;
}

.singleProject-github{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
    cursor: pointer;
    padding: 10px 10px;
    border-bottom: 1px solid var(--main-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    width: 220px;
    transition: all 0.5s linear;
    transition: all 0.5s ease;
    margin: 30px 0px;
}

.singleProject-github:hover{
    padding: 10px 18px;
}

.singleProject-i{
    margin-right: 10px;
    font-size: 18px;
}

.singProject-tools-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.singleProject-tools{
    flex-wrap: wrap;
    display: flex;  
    align-items: center;  
    gap: 10px;
    color: var(--text-primary);
    margin-bottom: 25px;
    height: 85px;
    overflow: auto;
}

.singleProject-tools::-webkit-scrollbar{
    background-color: var(--background-primary);
    border-radius: 10px;
}

.singleProject-tools::-webkit-scrollbar-thumb{
    background: var(--text-secondary);
    border-radius: 10px;
}

.singleProject-tool{
    border: 1px solid var(--text-secondary);
    color: var(--text-secondary);
    font-size: 12px;
    padding: 7px;
    border-radius: 30px;
}

.singleProject-goals-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px 0px;
    gap: 20px;
}

.singleProject-goals{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.singleProject-goal-wrapper{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: var(--background-primary);
    padding: 20px;
    border-radius: 10px;
    gap: 5px;
}

.singleProject-goal-header{
    display: flex;
    gap: 10px;
}

.singleProject-goal-logo{
}

.singleProject-goal-title{
    font-size: 16px;
    font-weight: 800;
    color: var(--main-color);
}

.singleProject-goal-desc{
    font-size: 14px;
    color: var(--text-secondary);
}

.singleProject-additional-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px 0px;
    gap: 20px;
}

.singleProject-additional-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.singleProject-additional-computer{
    display: flex;
    height: 400px;
    object-fit:contain;
}

.singleProject-link{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    padding: 10px 10px;
    background-color: var(--main-color);
    border: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    width: 180px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.singleProject-noLink{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: not-allowed;
    padding: 10px 10px;
    background-color: rgb(194, 71, 71);
    border: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    width: 280px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.singleProject-link:hover{
    width: 200px;
}

.skip-text{
    margin-top: 50px;
}

.singleProject-skip-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-top: 10px;
}

.singleProject-skip-left, .singleProject-skip-right{
    flex: 1;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    flex-direction: column;
    cursor: pointer;
    background-color: var(--background-third);
    transition: all 0.5s ease;
}

.singleProject-skip-left:hover, .singleProject-skip-right:hover{
    transform: scale(1.04);
}

.singleProject-skip-left{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 20px;
}

.singleProject-skip-right{
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 20px;
}

.skip-i{
    font-size: 20px;
}

.singleProject-skip-left:hover .skip-i, .singleProject-skip-right:hover .skip-i{
    color: var(--secondary-color)
}

.skip-title{
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0px;
}

.skip-desc{
    color: var(--text-secondary);
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media screen and (max-width: 414px){
    
    .singleProjectTitle{
        font-size: 30px;
    }
    
    .singleProject-iframe{
        height: 230px;
        width: 100%;
        border: none;
    }
    
    .singleProject-img-container{
        height: 230px;
        width: 100%;
        overflow: hidden;
    }
    
    .singleProject-img{
        width: 100%;
        object-fit: cover;
        border-radius: 0px;
    }

    .singleProject-subTitle{
        color: var(--text-primary);
        font-size: 24px;
        font-weight: 800;
        align-self: flex-start;
    }
    
    .singleProject-overview-container{
        flex-direction: column;
    }
    
    .singleProject-goals-container{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 20px 0px;
        gap: 20px;
    }
    
    .singleProject-goals{
    }
    
    .singleProject-additional-container{
        flex-direction: column;
    }
    
    .singleProject-additional-wrapper{
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }
    
    .singleProject-phone-wrapper{
        padding: 0px;
        background-color: transparent;
    }
    
    .singleProject-computer-wrapper{
        padding: 0px;
        background-color: transparent;
    }

    .singleProject-additional-phone{
        width: 100%;
        height: 200px;
    }
    
    .singleProject-additional-computer{
        width: 100%;
        height: 200px;
    }

    .singleProject-github{
        font-size: 16px;
    }
    
    .singleProject-link{
        font-size: 16px;
    }
    
    .singleProject-noLink{
        font-size: 16px;
    }
    
    .singleProject-skip-wrapper{
        flex-direction: column;
        width: 100%;
    }
    
    .singleProject-skip-left, .singleProject-skip-right{
        padding: 30px;
        border-radius: 15px;
        width: 200px;
    }
    
    .singleProject-skip-left{
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .singleProject-skip-right{
        justify-content: center;
        margin: 0px;
    }
    
    .skip-i{
        font-size: 14px;
    }
    
    .skip-title{
        font-size: 14px;
    }
    
    .skip-desc{
    }
}