[data-theme = false] {
    --background-primary: #f9f9f9;
    --background-secondary: rgb(242, 242, 242);
    --background-third:#282828;
    --background-four:#f9f9f9;
    --hover: rgb(59, 59, 59);
    --main-color: #3979ce;
    --secondary-color:#3c5394;
    --text-primary: black;
    --text-secondary: rgb(81, 81, 81);
    --box-shadow: rgba(171, 171, 171, 0.385);
    --input: white;
}

[data-theme = true] {
    --background-primary: #1e1e1e;
    --background-secondary: #282828;
    --background-third: rgb(24, 24, 24);
    --background-four: rgb(24, 24, 24);
    --hover: rgb(59, 59, 59);
    --main-color: #cf814a;
    --secondary-color:#d36951;
    --text-primary: white;
    --text-secondary: rgb(170, 170, 170);
    --box-shadow: rgba(0, 0, 0, 0.351);
    --input: rgb(37, 37, 37);
}